header {
  position: fixed;
  margin-left: 300px;
  width: calc(100% - 300px);
  background: inherit;
  overflow: hidden;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
  padding: 5px;
  p {
    padding-right: 30px;
  }
  .active {
    background: transparent;
    color: var(--main-bg-color);
  }
  a {
    color: rgb(137, 137, 137);
    &:hover {
      color: var(--main-bg-color);
    }
    &:nth-child(n) {
      padding: 10px;
    }
  }
  svg {
    padding: 5px;
    border-radius: 5px;
    color: rgb(59, 59, 59);
    border: 2px solid rgb(59, 59, 59);
    cursor: pointer;
    &:hover {
      border: 2px solid var(--main-bg-color);
      color: var(--main-bg-color);
    }
    &:active {
      transform: scale(0.95, 0.95);
    }
  }
  img {
    padding: 0;
    border: 3px solid var(--main-bg-color);
  }
  .header-text-name {
    padding-left: 10px;
  }
}
.header-userpicture {
  width: 32px;
  padding: 10px;
  border-radius: 100%;
}
