header {
  position: fixed;
  // margin-left: 240px;
  width: 100vw;
  background: inherit;
  overflow: hidden;
  top: 0;
  left: 0;
  @media (max-width: 680px) {
    // margin-left: 130px;
    width: 100%;
  }
}

.header-wrapper {
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  a {
    margin: 0;
    padding: 0;
    margin-left: 240px;

    @media (max-width: 980px) {
      margin-left: 200px;
      width: 30px;
    }
    @media (max-width: 680px) {
      margin-left: 160px;
      width: 30px;
    }
    @media (max-width: 500px) {
      margin-left: 60px;
      font-size: 12px;
      width: 30px;
    }
    @media (max-width: 400px) {
      margin-left: 50px;
      font-size: 12px;
      width: 30px;
    }
    .btn-blue {
      display: flex;
      padding: 8px;
      border-radius: 5px;
      align-items: center;
      align-self: center;
      background: #4b6dde77;
      outline: none;
      border: none;
      color: var(--main-white-color);
      width: 150px;
      justify-content: space-around;
      font-weight: bold;
      height: 30px;
      @media (max-width: 400px) {
        width: 120px;
      }
      &:hover {
        opacity: 0.95;
      }
      &:active {
        transform: scale(0.95, 0.95);
      }
      svg {
        color: rgb(255, 255, 255);
        width: 20px;
        border: none;
      }
    }
  }
  .header-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
    padding: 5px 15px 5px 5px;
  }

  p {
    padding-right: 30px;
    @media (max-width: 500px) {
      padding-right: 10px;
    }
  }
  .active {
    background: transparent;
    color: var(--main-bg-color);
  }
  a {
    color: rgb(137, 137, 137);
    &:hover {
      color: var(--main-bg-color);
    }
    &:nth-child(n) {
      padding: 10px;
    }
  }
  svg {
    padding: 5px;
    border-radius: 5px;
    color: rgb(59, 59, 59);
    border: 2px solid rgb(59, 59, 59);
    cursor: pointer;
    &:hover {
      border: 2px solid var(--main-bg-color);
      color: var(--main-bg-color);
    }
    &:active {
      transform: scale(0.95, 0.95);
    }
  }
  img {
    padding: 0;
    border: 3px solid var(--main-bg-color);
  }
  .header-text-name {
    padding-left: 10px;
  }
}
.header-userpicture {
  width: 32px;
  padding: 10px;
  border-radius: 100%;
  @media (max-width: 500px) {
    width: 25px;
  }
}
.header-auth {
  // display: flex;
  // flex-flow: row nowrap;
  // justify-content: center;
  // align-items: center;
  // height: 3em;
  // width: 15em;
  // margin: 5px 10px 5px 0px;
  a {
    margin: 5px 0px 5px 0px;
    width: 10em;
  }
}
