@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-bg-color: #4b6dde;
  --main-card-color: #222235;
  --main-white-color: rgb(243, 243, 243);
  --main-border-radius: 5px;
}
* {
  // border: 1px solid forestgreen;
  // padding: 0 !important;
  // margin: 0 !important;
  // padding: 5px;
}

.btn-blue {
  display: flex;
  padding: 8px;
  border-radius: 5px;
  align-items: center;
  align-self: center;
  background: #4b6dde77;
  outline: none;
  border: none;
  color: var(--main-white-color);
  width: 150px;
  justify-content: space-around;
  font-weight: bold;
  height: 30px;
  &:hover {
    opacity: 0.95;
  }
  &:active {
    transform: scale(0.95, 0.95);
  }
  svg {
    color: rgb(255, 255, 255);
    width: 20px;
    border: none;
  }
}

#root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
  // overflow-x: hidden;
  // overflow-y: hidden;
  color: rgb(137, 137, 137);
  background-color: #161624;
}

a:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #000;
  text-decoration: none !important;
  outline: none !important;
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

li {
  list-style-type: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input:valid {
  background: unset;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input {
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0 0;
}
.gradient-background {
  background: #000;
  background-size: 180% 180%;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 3em;
  background: #161624;
  @media (max-width: 680px) {
  }
}
.container-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-width: 100%;
  margin: 5px;
}

.gd {
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-name: slidegdz;
  animation-fill-mode: forwards;
}

@keyframes slidegdz {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.none {
  display: none;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(22, 147, 163, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  outline: 1px solid rgba(22, 147, 163, 0.301);
}
textarea::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(22, 147, 163, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  outline: 1px solid rgba(22, 147, 163, 0.301);
}
