.project {
  padding: 10px;
  // @media (max-width: 680px) {
  //   padding: 0;
  // }

  h1 {
    color: var(--main-white-color);
    font-size: calc(12px + 8 * ((100vw - 320px) / (1280 - 320)));
    svg {
      color: var(--main-bg-color);
    }
  }
  .project-description {
    font-style: italic;
    color: rgb(138, 138, 138);
    font-size: calc(12px + 8 * ((100vw - 320px) / (1280 - 320)));
  }
  .project-performers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    h3 {
      color: var(--main-bg-color);
      padding-bottom: 10px;
    }
    .project-item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-self: flex-start;
      height: 100%;
      padding: 10px;
    }
  }

  .projectId-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .project-trash {
      font-size: 35px;
      color: var(--main-white-color);
      &:hover {
        opacity: 0.95;
        color: var(--main-bg-color);
        transition: 0.5s;
      }
      &:active {
        transform: scale(0.85, 0.85);
      }
    }
  }
}
.project-card {
  margin: 3px 3px 7px 7px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background: var(--main-card-color);
  color: rgb(137, 137, 137);
  transition: 0.5s;
  @media (max-width: 500px) {
    min-height: 290px;
    min-width: 290px;
  }
  @media (max-width: 680px) {
    height: 16em;
    width: 16em;
  }
  .project-user-picture-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @media (max-width: 680px) {
      padding: 5px;
    }
    .project-user-picture {
      border-radius: 50%;
      padding: 0;
      margin: -2px;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &:hover {
    svg {
      color: rgb(255, 255, 255);
      transition: 0.5s;
    }
    .project-name {
      color: var(--main-bg-color);
      transition: 0.5s;
    }
  }
  p {
    margin: 2px;
  }
  span {
    margin: 0;
  }
  img {
    width: 32px;
    padding: 2px 10px;
  }
  svg {
    padding: 2px 10px;
    font-size: 2.5em;
    color: var(--main-bg-color);
    &:hover {
      opacity: 0.8;
    }
  }
  .project-name {
    color: var(--main-white-color);
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
}
.projects-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;

  .users {
    display: flex;
    flex-flow: row wrap;
  }
  .projects-wrapper {
    display: flex;
    flex-flow: row wrap;
    @media (max-width: 680px) {
      justify-content: flex-start;
    }
    .no-project {
      margin-top: 300px;
      color: rgb(175, 175, 175);
      font-size: 24px;
      svg {
        color: var(--main-bg-color);
        font-size: 24px;
      }
    }
  }
}
.project-create {
  input[text] {
    width: 300px;
  }
}
.user-performers {
  margin: 3px 3px 7px 7px;
  height: 50px;
  width: 300px;
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  background: var(--main-card-color);
  color: rgb(137, 137, 137);
  display: flex;
  flex-flow: row nowrap;
  @media (max-width: 680px) {
    height: 50px;
    max-width: 12em;
  }
  img {
    width: 32px;
  }
  p {
    margin: 10px;
    padding: 0;
  }
  svg {
    color: var(--main-bg-color);
    font-size: 24px;
    width: 64px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.user-checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 200px;

  .user-picture-small {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    padding: 5px;
  }
  p {
    padding: 1px;
    color: var(--main-white-color);
  }
}
.user-checkbox-added {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .add-user {
    padding: 10px;
    color: var(--main-white-color);
    font-weight: bold;
    font-size: 24px;
  }
}
.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.user-checkbox-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.styled-checkbox {
  opacity: 0; // hide it
  p {
    padding-left: 10px;
  }
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  & + label:before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  &:hover + label:before {
    background: var(--main-bg-color);
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: var(--main-bg-color);
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
