.task-edit-wrapper {
  background-color: var(--main-card-color);
  display: flex;
  flex-flow: column;
  padding: 20px;
  .task-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      svg {
        font-size: 24px;
        padding-left: 10px;
        &:hover {
          opacity: 0.95;
        }
        &:active {
          transform: scale(0.95, 0.95);
        }
      }
    }
  }
  .task-content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    @media (max-width: 980px) {
      flex-flow: column wrap;
    }
    .svg-edit {
      color: var(--main-bg-color);
    }
    svg {
      font-size: 24px;
      &:hover {
        opacity: 0.95;
      }
      &:active {
        transform: scale(0.95, 0.95);
      }
    }
  }
  .form-task-edit {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    @media (max-width: 680px) {
      flex: 1;
    }
    #description {
      min-height: 70px;
    }
    .date {
      margin: 0;
      padding: 0;
    }
    input {
      padding: 0;
    }
    .select {
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      color: var(--main-white-color);
      font-size: 14px;

      border: 0;
      border: none;
      outline: none;
      background-color: var(--main-card-color);
      &:focus {
        border: none;
        outline: none;
      }
    }

    .input-effect {
      padding: 0;
      &:focus {
        background-color: rgba(5, 5, 5, 0.267);
        color: rgb(255, 255, 255);
        font-weight: bold;
        cursor: text;
      }
      &:hover {
        color: rgb(168, 227, 255);
      }
    }

    input,
    textarea {
      outline: none;
      border: none;
      background: none;
      color: rgb(206, 206, 206);
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      transition: 0.5s;
    }
    label {
      color: rgb(245, 245, 245);
      padding-right: 5px;
      min-width: 125px;
    }
    textarea {
      height: auto;
      resize: vertical;
      min-height: auto;
      font-style: italic;
    }
  }
  .btn-back {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .btn-edit {
    background-color: #4b6dde;
    opacity: 0.6;
    outline: none;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    color: var(--main-white-color);

    transition: 1s;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      transform: scale(0.95, 0.95);
    }
  }
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0.5em 0;
    margin: 0;
    width: 100%;
    outline: none;
    color: var(--main-white-color);
    cursor: pointer;
    &:focus {
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
    &:hover {
      color: rgb(168, 227, 255);
    }
  }
  select::-ms-expand {
    display: none;
  }
}
.blink {
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

.task {
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  transition: 2s;
  h1 {
    color: rgb(255, 255, 255);
  }
  p {
    color: rgb(255, 255, 255);
  }
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
.task-normal {
  box-shadow: 5px 10px 15px 15px rgba(18, 214, 44, 0.075);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-right: 10px;
}
.task-high {
  box-shadow: 5px 10px 15px 15px rgba(18, 214, 77, 0.055);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}
.task-urgent {
  box-shadow: 5px 10px 15px 15px rgba(214, 18, 51, 0.055);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}
.timelog-wrapper {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  transition: 1s;
}
.timelog-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.comments {
  flex: 1;
  @media (max-width: 680px) {
    flex: 1;
  }
}
.comments-wrapper {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  transition: 1s;
  .textarea-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: center;
    .btn-blue {
      max-width: 50px;
      margin: 0;
      margin-right: 10px;
      background-color: var(--main-bg-color);
    }

    form {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-self: center;
      justify-content: center;
      width: 100%;
      .input-comment {
        display: block;
        box-sizing: padding-box;
        overflow: hidden;
        padding: 10px;
        width: 100%;
        color: var(--main-white-color);
        font-size: 14px;
        border-radius: 5px;

        border: 0;
        border: none;
        outline: none;
        background-color: var(--main-card-color);
        &:focus {
          border: none;
          outline: none;
          background-color: var(--main-card-color) a9;
        }
      }
    }
  }
  .comments-card {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
  }
  .comments-card-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    margin-top: 15px;
    min-width: 100%;
    padding: 5px;
    .comments-card-picture {
      padding: 5px;
      display: flex;
      flex-flow: column nowrap;

      align-items: center;
      width: 64px;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }

    .author-comment {
      color: gainsboro;
      margin-bottom: 2px;
    }

    .comment-text {
      p {
        margin-top: 0;
        font-size: 14px;
        font-style: italic;
        color: var(--main-white-color);
        padding: 0;
      }
    }
    .task-date-text {
      color: var(--main-bg-color);
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.timelog-form {
  #input-comment {
    width: 40px;
    margin: 0 20px 0 20px;
  }
}

.timelog-hours {
  align-items: flex-end;
  font-size: 40px;
  p {
    padding: 0;
    margin: 0;
  }
}
.spent-time {
  border-radius: 5px;
  padding: 5px;
  span {
    font-size: 12px;
    @media (max-width: 480px) {
      font-size: 10px;
    }
  }
  margin: 0;
  background-color: var(--main-bg-color);
  color: #fff;
}
